node_modules/
dist/
*.tsbuildinfo
.env
.terraform/

# vitepress
docs/.vitepress/dist/
docs/.vitepress/cache/
*.tfstate
*.tfstate.*
terraform.tfstate.d/
infra/terraform-aws/backend.tf
packages/cli/terraform-aws/
